### Morocco NX Part 3: markets

In [4]:
# import modules
import geopandas as gpd
import pandas as pd
import os, sys, time
sys.path.append(os.path.join(os.path.dirname(os.getcwd()), r'/Users/jobelanger/GOSTnets-master/GOSTnets'))
import GOSTnets as gn
import networkx as nx
import osmnx as ox
from shapely.ops import unary_union
from shapely.wkt import loads
from shapely.geometry import LineString, MultiLineString, Point
import matplotlib.pyplot as plt

In [5]:
dataPth = r'/Users/jobelanger/GOSTnets-master/morocco/data'
outPth = r'/Users/jobelanger/GOSTnets-master/morocco/outputs'
pth = os.path.join(os.path.dirname(os.getcwd()), r'/Users/jobelanger/GOSTnets-master/morocco')

In [10]:
# read in largest subgraph of G (99.06% connectivity)
G = nx.read_gpickle(os.path.join(r'G_largest.pickle'))

In [11]:
# create standard speed dict
speedDict = {
                'residential': 30,  # kmph
                'primary': 60, # kmph
                'primary_link':55,
                'trunk': 40,
                'trunk_link':35,
                'secondary': 50, # kmph
                'secondary_link':45,
                'tertiary':40,
                'tertiary_link': 35,
                'unclassified':30, 
                'road':20,
                'crossing':20,
                'living_street':10
    
                }

In [12]:
# convert graph network to time. use factor of 1000 to convert from km to meters
G_time = gn.convert_network_to_time(G, 
                                    distance_tag = 'length', 
                                    road_col = 'infra_type', 
                                    speed_dict = speedDict, 
                                    factor = 1000)

In [9]:
nx.info(G_time)

'Name: \nType: MultiDiGraph\nNumber of nodes: 16257\nNumber of edges: 43998\nAverage in degree:   2.7064\nAverage out degree:   2.7064'

In [36]:
# read in villages (origins)
villages = gpd.read_file(os.path.join(dataPth, 'tinghirVillagesP.shp'))

In [37]:
# create x/y columns for villages
from shapely import geometry
villages['x']= villages.geometry.x
villages['y']= villages.geometry.y

villages.head()

,FID_1,PROVINCE,CODE_PRO,CERCLE,CODE_CER,COMMUNE,CODE_COM,FRACTION,CODE_FRA,DOUAR,...,Com_Arabe,Cer_Arabe,Prov_Arabe,Reg_arabe,Code_COM_1,CODE_A,Shape_Leng,geometry,x,y
0,4642,OUARZAZATE,401,BOUMALNE DADES,401.05,AIT EL FARSI,401.05.01,OUEDICHEN,1,HADDOU ICHOU,...,None,None,None,None,01,04.401.05.01,115992.504936,POINT (846814.451 3461966.853),846814.4513,3.461967e+06
1,6455,OUARZAZATE,401,BOUMALNE DADES,401.05,AIT EL FARSI,401.05.01,OUEDICHEN,1,SIDI MOUHAMED IFROUTEN,...,None,None,None,None,01,04.401.05.01,115992.504936,POINT (851811.807 3456718.038),851811.8074,3.456718e+06
2,11413,OUARZAZATE,401,BOUMALNE DADES,401.05,AIT EL FARSI,401.05.01,OUEDICHEN,1,AIT EL FARSSI,...,None,None,None,None,01,04.401.05.01,115992.504936,POINT (850772.084 3476371.882),850772.0843,3.476372e+06
3,19798,OUARZAZATE,401,BOUMALNE DADES,401.05,AIT EL FARSI,401.05.01,OUEDICHEN,1,"TIZI N""TIFERKHINE",...,None,None,None,None,01,04.401.05.01,115992.504936,POINT (857317.902 3466819.838),857317.9017,3.466820e+06
4,21798,OUARZAZATE,401,BOUMALNE DADES,401.05,AIT EL FARSI,401.05.01,OUEDICHEN,1,AIT KHOUKHDENE,...,None,None,None,None,01,04.401.05.01,115992.504936,POINT (853808.560 3476154.693),853808.5600,3.476155e+06

In [38]:
villages.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [39]:
villages = gn.pandana_snap_c(G_time, 
                           villages, 
                           source_crs='epsg:4326', 
                           target_crs='epsg:4326', 
                           add_dist_to_node_col=True)

In [42]:
??gn.core

In [40]:
villages.head()

,FID_1,PROVINCE,CODE_PRO,CERCLE,CODE_CER,COMMUNE,CODE_COM,FRACTION,CODE_FRA,DOUAR,...,Prov_Arabe,Reg_arabe,Code_COM_1,CODE_A,Shape_Leng,geometry,x,y,NN,NN_dist
0,4642,OUARZAZATE,401,BOUMALNE DADES,401.05,AIT EL FARSI,401.05.01,OUEDICHEN,1,HADDOU ICHOU,...,None,None,01,04.401.05.01,115992.504936,POINT (846814.451 3461966.853),846814.4513,3.461967e+06,1014,3.564000e+06
1,6455,OUARZAZATE,401,BOUMALNE DADES,401.05,AIT EL FARSI,401.05.01,OUEDICHEN,1,SIDI MOUHAMED IFROUTEN,...,None,None,01,04.401.05.01,115992.504936,POINT (851811.807 3456718.038),851811.8074,3.456718e+06,1014,3.560094e+06
2,11413,OUARZAZATE,401,BOUMALNE DADES,401.05,AIT EL FARSI,401.05.01,OUEDICHEN,1,AIT EL FARSSI,...,None,None,01,04.401.05.01,115992.504936,POINT (850772.084 3476371.882),850772.0843,3.476372e+06,1014,3.578933e+06
3,19798,OUARZAZATE,401,BOUMALNE DADES,401.05,AIT EL FARSI,401.05.01,OUEDICHEN,1,"TIZI N""TIFERKHINE",...,None,None,01,04.401.05.01,115992.504936,POINT (857317.902 3466819.838),857317.9017,3.466820e+06,1014,3.571221e+06
4,21798,OUARZAZATE,401,BOUMALNE DADES,401.05,AIT EL FARSI,401.05.01,OUEDICHEN,1,AIT KHOUKHDENE,...,None,None,01,04.401.05.01,115992.504936,POINT (853808.560 3476154.693),853808.5600,3.476155e+06,1014,3.579445e+06

In [6]:
# read in markets (destinations)
markets = gpd.read_file(os.path.join(dataPth, 'tinghirMarketsP.shp'))

In [7]:
from shapely import geometry
markets['x']= markets.geometry.x
markets['y']= markets.geometry.y

markets.head()

,OBJECTID,osm_id,access,access_roo,addr_house,addr_postc,addr_stree,admin_leve,aeroway,amenity,...,tower,tunnel,water,waterway,wheelchair,width,z_index,geometry,x,y
0,67,621617792,None,None,None,None,None,None,None,pharmacy,...,None,None,None,None,None,None,0,POINT (801713.142 3511176.407),801713.1421,3.511176e+06
1,70,622166130,None,None,None,None,None,None,None,pharmacy,...,None,None,None,None,None,None,0,POINT (828712.010 3490941.242),828712.0098,3.490941e+06
2,131,1156545428,None,None,None,None,None,None,None,pharmacy,...,None,None,None,None,None,None,0,POINT (773530.312 3459521.240),773530.3123,3.459521e+06
3,141,1328309558,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,0,POINT (828796.538 3491849.755),828796.5382,3.491850e+06
4,195,1833031971,None,None,None,None,None,None,None,marketplace,...,None,None,None,None,None,None,0,POINT (788387.710 3474335.421),788387.7097,3.474335e+06

In [8]:
markets.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [15]:
markets = gn.pandana_snap(G_time, 
                           markets, 
                           source_crs='epsg:4326', 
                           target_crs='epsg:4326', 
                           add_dist_to_node_col=True)

/Applications/anaconda3/envs/gostnets2/lib/python3.7/site-packages/pyproj/crs/crs.py:55: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
/Applications/anaconda3/envs/gostnets2/lib/python3.7/site-packages/pyproj/crs/crs.py:55: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [16]:
markets.head()

,OBJECTID,osm_id,access,access_roo,addr_house,addr_postc,addr_stree,admin_leve,aeroway,amenity,...,tower,tunnel,water,waterway,wheelchair,width,z_index,geometry,NN,NN_dist
0,67,621617792,None,None,None,None,None,None,None,pharmacy,...,None,None,None,None,None,None,0,POINT (801713.142 3511176.407),1014,3.601512e+06
1,70,622166130,None,None,None,None,None,None,None,pharmacy,...,None,None,None,None,None,None,0,POINT (828712.010 3490941.242),1014,3.587927e+06
2,131,1156545428,None,None,None,None,None,None,None,pharmacy,...,None,None,None,None,None,None,0,POINT (773530.312 3459521.240),1014,3.544915e+06
3,141,1328309558,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,0,POINT (828796.538 3491849.755),1014,3.588830e+06
4,195,1833031971,None,None,None,None,None,None,None,marketplace,...,None,None,None,None,None,None,0,POINT (788387.710 3474335.421),1014,3.562632e+06